<!DOCTYPE html>
<html lang="en">
  <%- include('header') %>
  <body>
    <div class="container-fluid main ">
        <div class=" col-md-4 login-box  ">
            <form>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">User Name</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <button type="submit" class="btn login-btn">Login</button>
                <div class="mt-3 text-center">
                  <p class="form-label">Not a Member ? <a href="/signup">SIgnup</a></p>
                </div>
              </form>
        </div>
    </div>
<%- include('footer') %>
  </body>
</html>
